body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
}

.calculator {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator > *:not(#display) {
  padding: 15px 20px;
  font-size: large;
}

#display {
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 50px;
  font-size: x-large;
  grid-column: 1 / -1;
  background-color: #fff;
  border: 1px solid black;
}

#clear {
  text-align: center;
  grid-column: 1/3;
}

#equals {
  grid-column: 4;
  grid-row: 5/7;
  display: flex;
  align-items: center;
}

#zero {
  grid-column: 1 / 3;
}
