body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
}

h1 {
  position: absolute;
  color: #ffffff;
  margin-top: 120px;
}

.calculator {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#display {
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 50px;
  font-size: x-large;
  grid-column: 1 / -1;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
}

.calculator > *:not(#display) {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: x-large;
  border: 1px solid;
}

#clear,
#clear-one {
  background-color: #c78484;
  text-align: center;
  border: 1px solid;
}
#clear:hover,
#clear-one:hover {
  background-color: #de9696;
}

.operator {
  background-color: gray;
}
.operator:hover {
  background-color: rgb(157, 157, 157);
}

.number {
  background-color: #9d9d9d;
}
.number:hover {
  background-color: #b3b3b3;
}

#equals {
  display: flex;
  justify-content: center;
  background-color: rgb(99, 121, 202);
  grid-column: 4;
  grid-row: 5/7;
  display: flex;
  align-items: center;
  border: 1px solid;
}
#equals:hover {
  background-color: rgb(126, 147, 224);
}

#zero {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
}
